.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
}

.active, .btn:hover {
    background-color: #3086a8;
    color: white;
}

.lg {
    margin: .75rem 1rem 1rem 0;
    font-size: 17px;
}

h4 {
    color: #4A7287;
    font-family: 'Annie Use Your Telescope';
    font-size: 30px;
    font-weight: bold;
}

thead {
    background-color: #96D2EA;
    font-family: 'Atma';
    font-size: 20px;
}

p {
    font-family: 'Alegreya Sans';
    font-size: 22px;
}

ul {
    font-family: 'Alegreya Sans';
    font-size: 22px;
}


tr {
    background-color: #F2F7F9;
}

.card {
    background-color: #EFEFEF;
}
body {
    background: white;
}
.landing {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
h1 {
    font-size: 5em;
}
#loginBox {
    background: black;
    border-radius: 1em;
    padding: 1em;
}
#exampleoverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
#typingDisplay {
    position: relative;
    background: white;
    border-color: black;
    border-radius: 1em;
    border-style: outset;
    padding: 1em;
}
#leaderboardInsides {
    height: 100px;
    overflow-y: auto;
}
