{% extends "mainpage.html" %}
{% block title %} Activities {% endblock %}
{% block content %}
<center>
<h4> Randomly Generated Activity: </h4>
<table>
    <thead>
        <tr>
            <th> Category </th>
            <th> Activity </th>
            <th> # of participants </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{randcat}} </td>
            <td> {{randact}} </td>
            <td> {{randpart}} </td>
        </tr>
    </tbody>
</table>
<hr>
<div class="card">
    <div class="card-divider">
        <br> Would you like to save this activity? <br>
    </div>
    <div class="card-section">
        <form class="" action="/saveAct" method="post">
            <input type="hidden" name="cat" value={{randcat}}>
            <input type="hidden" name="act" value="{{randact}}">
            <input type="hidden" name="part" value={{randpart}}>
            <button class="button" type="submit" name="yes-button">Yes</button>
        </form>
    </div>
</div>

<hr>
<h4> To do: </h4>
<table class="hover">
    <thead>
        <tr>
            <th> Category </th>
            <th> Activity </th>
            <th> # of participants </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for activities in diction.activity %}
        <tr>
            <td> {{diction.category[loop.index0][0]}} </td>
            <td> {{activities[0]}} </td>
            <td> {{diction.part[loop.index0][0]}} </td>
            <td>
                <form class="" action="/deleteAct" method="post">
                    <input type="hidden" name="act" value="{{activities[0]}}">
                    <button class="button" type="submit" name="yes-button">Done</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</center>
{% endblock %}
