{% extends "mainpage.html" %}
{% block title %} Activities {% endblock %}
{% block content %}
<center>
<div class="grid-x grid-padding-y grid-margin-x">
    <div class="cell medium-6">
            <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
            <div class="flip-card-inner-front">
              <span>Activity</span>
            </div>
            <div class="flip-card-inner-back">
              <p class="flip-card-inner-back-text">
                {{act}}
              </p>
            </div>
            </div>
            </div>
    </div>
    <div class="cell medium-6">
            <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
            <div class="flip-card-inner-front">
                <span>Category</span>
            </div>
            <div class="flip-card-inner-back">
              <p class="flip-card-inner-back-text">
                {{cat}}
              </p>
            </div>
            </div>
            </div>
    </div>
</div>
</center>
{% endblock %}
