{% extends "mainpage.html" %}
{% block title %} Leaderboard {% endblock %}
{% block content %}

<center>
  <div id="exampleoverlay">
    <div id="typingDisplay" style="width: 800px; top: 15%">
      <h4>Typing Leaderboard</h4>
      <table>
        <thead>
          <tr>
              <th> </th>
              <th> User </th>
              <th> </th>
              <th> </th>
              <th> Difficulty </th>
              <th> WPM </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> Time Completed </th>
              <th> </th>
              <th> </th>
              <th> </th>
          </tr>
        </thead>
      </table>
      <div id="leaderboardInsides">
        <table>
          <tbody>
              {% for item in leaderboard %}
              {% if item[3] == "Easy" %}
              <tr>
                  <td> {{item[0]}} </td>
                  <td> {{item[3]}} </td>
                  <td></td>
                  <td> {{item[1]}} </td>
                  <td> {{item[2]}} </td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <div id="leaderboardInsides">
        <table>
          <tbody>
              {% for item in leaderboard %}
              {% if item[3] == "Medium" %}
              <tr>
                  <td> {{item[0]}} </td>
                  <td> {{item[3]}} </td>
                  <td> {{item[1]}} </td>
                  <td> {{item[2]}} </td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <div id="leaderboardInsides">
        <table>
          <tbody>
              {% for item in leaderboard %}
              {% if item[3] == "Difficult" %}
              <tr>
                  <td> {{item[0]}} </td>
                  <td> {{item[3]}} </td>
                  <td> {{item[1]}} </td>
                  <td> {{item[2]}} </td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
      <ul class="menu">
        <li><a href="/typing"><button class="button" style="width: 120px;">New Quote</button></a></li>
      </ul>
    </div>
  </div>
</center>

{% endblock %}
