{% extends "template.html" %}
{% block title %} Welcome {% endblock %}
{% block body %}

<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
	<li class="menu-text">GitGud</li>
	<li><a href="/main">Activities</a></li>
	<li><a href="/typing">Typing</a></li>
	<li><a href="/vocab">Vocabulary</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <!--<li>{{username}}</li>-->
        <li><form action="/logout">
          <button class="button button-rounded-hover">Logout</button>
        </form></li>
      </ul>
    </div>
  </div>
</div>
<br>
{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
<center>
  <p style="color:black">Msg: {{msg}}</p>
</center>
{% endfor %}
{% block content %}{% endblock %}

{% endblock %}
