<html>
  <head>
    <title>GitGud | {% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/logo.png">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/flip.css">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style>
    body {
        background: white;
    }
    .landing {
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 120%;
    }
    #loginBox {
        background: black;
        border-radius: 1em;
        padding: 1em;
    }
    </style>
  </head>
  {% block bodytag %}<body>{% endblock %}
    <div>
      {% block body %}You should not be here{% endblock %}
    </div>
    <footer style="padding-top: 47%; padding-left: 0.9375rem;"><br>Copyright &copy; 2019 LambBaas</footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  </body>
</html>
