<html>
  <head>
    <title>GitGud | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="static/pumpkin.css">
    <link rel="stylesheet" type="text/css" href="static/flip.css">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style>
    .height-centered {
      padding-top: 11%;
      padding-bottom: 11%;
    }
    </style>
  </head>
  <body>
    <div class="height-centered">
      {% block body %}You should not be here{% endblock %}
    </div>
    <footer style="padding-left: 0.9375rem;"><br>Copyright &copy; 2019 LambBaas</footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  </body>
</html>
