{% extends "mainpage.html" %}
{% block title %} Typing {% endblock %}
{% block content %}

<center>
<div id="demotext" class="hiddentext" style="display: none;">{{text}}</div>

<div id="selectDifficulty">
  <div id="exampleoverlay">
    <div id="typingDisplay" style="width: 1000px; top: 15%">
      <h4>Choose Difficulty</h4>
      <ul class="menu">
        <li><button class="success button" style="width: 120px;" onclick="selectDif('Easy')">Easy</button></li>
        <li><button class="warning button" style="width: 120px;" onclick="selectDif('Medium')">Medium</button></li>
        <li><button class="alert button" style="width: 120px;" onclick="selectDif('Difficult')">Difficult</button></li>
      </ul>
      <br>
      <br>
      <br>
      <ul class="menu">
        <li><a href="/leaderboard"><button class="hollow button" style="width: 120px;">Leaderboard</button></a></li>
      </ul>
    </div>
  </div>
</div>

<p>Type the quote in the textbox and it will appear above.</p>

<canvas id="myCanvas" width="980" height="90" style="border:3px solid #000000;"></canvas>

<br>

<div class="medium-6 cell">
  <input type="text" id="myInput" oninput="myFunction()">
</div>

<br>

<ul class="menu">
  <li><a href="/leaderboard"><button class="button" style="width: 120px;">Leaderboard</button></a></li>
  <li><a href="/typing"><button class="button" style="width: 120px;">New Quote</button></a></li>
</ul>

<div style="display: none;">
  <form id="resultsForm" action="/typingResults" method="POST" class="center">
    <input type="text" name="dif" id="dif"></input>
    <input type="text" name="time" id="time"></input>
    <input type="text" name="wpm" id="wpm"></input>
    <input type="text" name="accuracy" id="accuracy"></input>
    <input type="submit" name="action" class="button" value="Submit">
  </form>
</div>

<!--<div id="finishbox">
  <div id="typingDisplay" style="display: none; width: 500px; top: 20%">
    <h3>Congratulations!</h3>
    <p id="dif"></p>
    <p id="time"></p>
    <p id="wpm"></p>
    <p id="accuracy"></p>
    <ul class="menu">
      <li><a href="/typing"><button class="button" style="width: 120px;">Leaderboard</button></a></li>
      <li><a href="/typing"><button class="button" style="width: 120px;">New Quote</button></a></li>
    </ul>
  </div>
</div>-->


<script src="./static/typing.js"></script>

</center>
{% endblock %}
