{% extends "mainpage.html" %}
{% block title %} Typing {% endblock %}
{% block bodytag %}<body onload="init()">{% endblock %}
{% block content %}

{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
<p style="color: black">Msg: {{ msg }}</p>
{% endfor %}

<div id="demotext" class="hiddentext" style="display: none;">{{text}}</div>

<p>Type the quote in the textbox and it will appear above.</p>

<div id="canvi">
</div>

<br>

<input type="text" id="myInput" oninput="myFunction()">

<p id="demo"></p>
<p id="time"></p>
<p id="wpm"></p>
<p id="accuracy"></p>

<script src="./static/typing.js"></script>

{% endblock %}
