{% extends "mainpage.html" %}
  {% block title %} Vocabulary {% endblock %}
  {% block content %}
  <p align="center" style ="padding-left: 0.75em;">Here are your vocab words:</p>
  <p>
    <ul style="padding-left: 2em;">
        {% for word in words %}
          <li align="center" style="list-style-type: none;">
            <a href="/def/{{word[0]}}">{{word[0]}}</a> <a href="/deleteWord/{{word[0]}}" style="color:red;">&times;</a>
          </li>
        {% endfor %}
    </ul>
  </p>
  <a href="/wordSearch" style ="padding-left: 1em;"><p align="center">Click here to find new words!</p></a>
{% endblock %}
