{% extends "mainpage.html" %}

{% block title %} Activities {% endblock %}

{% block content %}
  {% if words %}
    Here are all possible words: <br>
    <a href="{{url_for('word_activity')}}">Or...search for something else</a>
    <ul>
      {% for word in words %}
      <li>
        <a href="/def/{{query}}/{{word}}">{{ word }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    Type in a word, any word: <br>
    <form class="" action="/wordResult" method="get">
      <input type="text" name="query" value="">
      <button type="submit" name="button">Submit</button>
    </form>
  {% endif %}
{% endblock %}
