{% extends "mainpage.html" %}

{% block title %} Activities {% endblock %}

{% block content %}
  {% if words %}
    <p align="center" style ="padding-left: 0.5em;">
      Here are all possible words: <br>
      <a href="{{url_for('word_activity')}}">Or...search for something else</a>
    </p>
    <ul style="padding-left: 2em;">
      {% for word in words %}
      <li align="center" style="list-style-type: none;">
        <a href="/def/{{query}}/{{word}}">{{ word }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p style="padding-left: 1.75em;">
      Type in a word, any word:
    </p>
    <form class="" action="/wordResult" method="get" style="padding-left: 2em; padding-right: 50em;">
      <input type="text" name="query" value="">
      <button type="submit" name="button" class="button">Submit</button>
    </form>
  {% endif %}
{% endblock %}
